data/Envio.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Envio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="FactTableEnvio">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="EnviosID" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="PedidoId" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="OfertasId" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="AreaEnvioId" type="xs:decimal" />
              <xs:element minOccurs="0" name="ClienteId" type="xs:decimal" />
              <xs:element minOccurs="0" name="ProductoId" type="xs:decimal" />
              <xs:element minOccurs="0" name="DATEKEY" type="xs:decimal" />
              <xs:element minOccurs="0" name="UbicacionId" type="xs:decimal" />
              <xs:element minOccurs="0" name="EmpresaEnvio" type="xs:string" />
              <xs:element minOccurs="0" name="MetodoEnvio" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>