data/Ofertas.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ofertas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="DimensionOfertas">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Ofertasid" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="Nombre" type="xs:string" />
              <xs:element minOccurs="0" name="Descripcion" type="xs:string" />
              <xs:element minOccurs="0" name="Descuento" type="xs:decimal" />
              <xs:element minOccurs="0" name="CodDescuento" type="xs:unsignedInt" />
              <xs:element minOccurs="0" name="FechaLanzamiento" type="xs:date" />
              <xs:element minOccurs="0" name="FechaCaducidad" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>