data/Producto.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Producto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="DimensionProducto">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ProductoId" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="Nombre" type="xs:string" />
              <xs:element minOccurs="0" name="FechaAgregado" type="xs:date" />
              <xs:element minOccurs="0" name="Dimensiones" type="xs:string" />
              <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
              <xs:element minOccurs="0" name="Nombrecategoria" type="xs:string" />
              <xs:element minOccurs="0" name="NombreMarca" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>